body {
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

nav {
    margin-top: 2vh;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    font-family: sans-serif;
    margin-left: 5%;
    margin-right: 13%;
}

.logo {
    margin-right: auto;
}

.logo img {
    height: 10vh;
    width: auto;
}

.hamburger-menu {
    display: none;
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}

.otheroptions {
    display: flex;
    align-items: center;
    gap: 30px;
}

.otheroptions a {
    text-decoration: none;
    font-weight: 600;
    color: gray;
    white-space: nowrap;
}

.otheroptions a:hover {
    color: black;
}

.otheroptions button {
    background-color: #7540ee;
    color: white;
    font-family: sans-serif;
    padding: 10px 20px;
    border-radius: 20px;
    border-color: unset;
    white-space: nowrap;
}

.otheroptions button:hover {
    cursor: pointer;
    background-color: #5a16f7;
}




.cover {

    background-color: blueviolet;
    background-image: url(https://assets-global.website-files.com/5d9a902248623ef932d0da66/6282c893b9b3495c8d6dc73c_tilted-results-round3-bg.svg), url(https://assets-global.website-files.com/5d9a902248623ef932d0da66/5f8599c41d96063e26a5093f_diagonal-lines-bg.svg);
    background-repeat: no-repeat;
    background-size: 760px auto;
    background-position: 100% 5%, 10% 0;
    padding: 90px 5%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 450px;
}






.cover img {
    border-radius: 10px;
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, .3);
    position: relative;
    top: 3%;
    left: 27%;
    max-width: 40%;
}

@media screen and (max-width: 980px) {
    .cover img {
        max-width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .cover img {
        max-width: 20%;
    }
}



@media screen and (max-width: 980px) {
    .otheroptions {
        display: none;
        position: absolute;
        top: 10%;
        width: 100%;
        flex-direction: column;
        padding: 10px;
        z-index: 1;
        justify-content: space-between;

    }

    .otheroptions.show {
        display: flex;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        cursor: pointer;
    }

    .hamburger-menu.show .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger-menu.show .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.show .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


.written_show {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
    max-width: 40%;
    padding: 20px;
    z-index: 1;
}

.written_show h1 {
    font-size: 40px;
    font-family: sans-serif;
    margin: 0% 0%;
}

.written_show h4 {
    margin: 4% 0%;
    font-family: sans-serif;
}

.written_show p {
    font-family: sans-serif;
    font-size: medium;
}

.written_show button {
    background-color: rgb(255, 183, 0);
    color: white;
    font-family: sans-serif;
    padding: 10px 20px;
    border-radius: 20px;
    white-space: nowrap;
    font-size: small;
    margin-top: 2%;
}

.written_show button:hover {
    cursor: pointer;
    background-color: rgba(255, 183, 0, 0.806);

}



.company_set {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 40px;
}





.heading {
    margin-bottom: 20px;
}


.company_set img {
    opacity: 0.65;
    width: auto;
    max-height: 60px;
    filter: saturate(0);
}

.company_set img:hover {
    cursor: pointer;
    filter: none;
    opacity: 1;
}

.images {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    width: auto;
}



.demo_outer {
    background-color: #f5f7fd;
    display: flex;
    justify-content: center;
    padding: 50px 15%;
}

.demo_inner {
    background-color: #fffaf1;
    border: 1px solid #ffab00;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

#glow_text {
    display: inline;
    float: left;
}

#demo_btn {
    background-color: white;
    color: #ffab00;
    border: 3px solid #ffab00;
    font-family: sans-serif;
    padding: 10px 20px;
    border-radius: 20px;
    white-space: nowrap;
}

.key_features {
    margin: 80px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.khead {
    margin-top: 0%;
}

.heads {
    margin: 0% 0%;
}


.working_points {
    
    display: flex;
    margin: 30px 0px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    top: -120px;
}


.wps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

.inner_p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: 55px;
    width: 55px;
    margin-bottom: 10px;
    background-color: #36b37e;
    box-shadow: 1px 1px 3px 0 silver;
    border-radius: 100%;
    margin: 0;
    margin-bottom: 20px;
}

#num_first {
    background-color: orange;
}

#num_second {
    background-color: cornflowerblue;
}

#num_third {
    background-color: #36b37e;
}


.key_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    padding: 10px;
}

.key_box img {
    height: 60px;
    width: 60px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15%;
    box-shadow: 1px 1px 3px 0 silver;
    border-radius: 100px;
}

.key_box p {
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.key_box_collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

.key_box:hover {
    box-shadow: 7px 7px 55px rgba(193, 199, 208, .75);
}

.stats_part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats_part img {
    margin-left: 40px;
    margin-right: 40px;
    width: 100%;
    max-width: 1140px;
    box-shadow: 0 0 40px rgba(193, 199, 208, .5)
}

.educate {
    background-color: #7540ee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0%;
    margin-bottom: 40px;
    position: relative;
    gap: 5%;
    width: 100%;
    top: -199px;
    
}

.educate_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.educate_inner h1 {
    color: white;
    font-family: sans-serif;
    font-size: 55px;
    margin: 0%;
}

.educate_inner p {
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    font-family: sans-serif;
}

.user_reviews #btlf {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: transparent;
    position: relative;
    left: -20%;
    font-size: 32px;
    color: silver;
}

.user_reviews #btlf:hover {
    cursor: pointer;
}


.user_reviews #btrg {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: transparent;
    position: relative;
    right: -20%;
    font-size: 32px;
    color: silver;
}

.user_reviews #btrg:hover {
    cursor: pointer;
}

.feedbacks {
    background-color: #7540ee;
    ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 45px 400px;
}

.inner_feedback {
    display: flex;
    flex-direction: column;
    background-color: #7540ee;
    ;

    justify-content: center;
    align-items: center;
}

#review {
    color: white;
    font-size: 22px;
}

#reviewer,
#designation {
    margin-bottom: 0%;
    color: silver;

}

#profile_pic {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    box-shadow: 0 0 40px 0 whitesmoke;
    border: 5px solid #fff;
    border-width: 3px;
}

.ending {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    margin-top: 100px;
    padding-bottom: 60px;
}


.markings {
    display: flex;
    flex-direction: column;
    margin-right: 300px;
    flex-wrap: wrap;
}

.markings img {
    width: 196px;
    margin-bottom: 25px;
    max-width: 100%;

}

.social_icons {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 5px;
    gap: 10px;
    flex-wrap: wrap;
}

.social_icons img {
    height: 25px;
    width: 25px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid rgb(24, 20, 249);
    border-radius: 50%;

}

.menus {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-right: 100px;
    /* flex-wrap: wrap; */
}

.sub_menus {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
}

.sub_menus a {
    text-decoration: none;
    color: #4e5d78;
    font-size: 15px;
    font-weight: 500;

}

.sub_menus a:hover {
    color: black;
}






@media screen and (max-width: 980px) {
    nav {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 980px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }

    .company_set {
        margin-left: 15%;
        margin-right: 15%;
    }

    .otheroptions {
        display: none;
        position: absolute;
        top: 10%;
        width: 100%;
        flex-direction: column;
        padding: 10px;
        z-index: 1;
        justify-content: space-between;
    }

    .otheroptions.show {
        display: flex;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        cursor: pointer;
    }

    .hamburger-menu.show .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger-menu.show .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.show .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .cover img {
        max-width: 30%;
    }

    .written_show {
        top: 50%;
        left: 5%;
        max-width: 80%;
    }

    .key_box_collection {
        margin-left: 15%;
        margin-right: 15%;
    }

    .stats_part img {
        margin-left: 10px;
        margin-right: 10px;
        max-width: 100%;
    }

    .ending {
        margin-left: 30%;
        margin-top: 50px;
    }

    .markings {
        margin-right: 30%;
    }


}


@media screen and (max-width: 760px) {
    .educate {
        padding-left: 100px;
        flex-direction: column;
    }

    .feedbacks {
        padding: auto;
    }


    .ending,
    .markings,
    .menus {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    .maincover {
        width: 100%;
    }


}